@{
    ViewData["Title"] = "Home Page";
}


<h1 class="welcome-text">Welcome To Candy World </h1>

<div class="container">
    <div>
        <img src="./images/candies-hover-section.jpg" class="img-style">
    </div>
    <div class="first-section mt-5">
        <div class="row mx-auto my-auto">
            <div id="myCarousel" class="carousel slide w-100"
                 data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/almond-seeds.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/brazilian-nuts.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/chips-peanuts.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/hazelnuts.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/indian-nuts.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/apetisani/leblebi-sari.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="button-centar-style">
        <a asp-controller="ApetisaniTypes" asp-action="Index" class="btn btn-success">
            More
        </a>
    </div>
    <div class="first-section mt-5">
        <div class="row mx-auto my-auto">
            <div id="myCarousel" class="carousel slide w-100"
                 data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/caffe/amigos-blue.jpeg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/caffe/amigos-light.jpeg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/caffe/amigos-red.jpeg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/caffe/auslesse-caffe.png" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/caffe/hausbrandt-academia.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/caffe/hausbrandt-espresso.png" class="carousel-img-style" />
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="button-centar-style">
        <a asp-controller="CoffeTypes" asp-action="Index" class="btn btn-success">
            More
        </a>
    </div>
    <div class="first-section mt-5">
        <div class="row mx-auto my-auto">
            <div id="myCarousel" class="carousel slide w-100"
                 data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-md-6">
                            <img src="~/images/product-images/candies/bubble-bubble.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/candies/christmas-candycanes.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/candies/forrest-fruit-candy.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/candies/fruit-salad-rock-candy.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/candies/gummy-gummy-candies.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6">

                            <img src="~/images/product-images/candies/i-love-you-image-candy.jpg" class="carousel-img-style" />
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-dark w-auto"
                   href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="button-centar-style">
        <a asp-controller="CandyTypes" asp-action="Index" class="btn btn-success">
            More
        </a>
    </div>
</div>

